body {
  font-family: 'Josefin Slab', serif;
  font-size: 14pt;
  color: #111111;
  background-color: #fffff8;
}
h1 {
  margin: 0pt 0pt 0pt 0pt;
  font-size: 40pt;
}
a {
  text-decoration: none;
  color: #111111;
}
.Timer{
  font-family: 'Josefin Slab', serif;
  font-size: 25pt;
  color: #111111;
}
.Board{
  background-color: #fffff8;
  border: 2px solid #111111;
}
.Tiles{
  border: 2px solid #111111;
}
.P{
  background-color: #C89632;
}
.V{
  background-color: #C83250;
}
.T{
  background-color: #5032C8;
}
.Z{
  background-color: #3296C8;
}
.W{
  background-color: #C83296;
}
.F{
  background-color: #0FFAE6;
}
.I{
  background-color: #9632C8;
}
.U{
  background-color: #64C832;
}
.X{
  background-color: #FAC80F;
}
.L{
  background-color: #C86432;
}
.Y{
  background-color: #96C832;
}
.N{
  background-color: #32C864;
}
#menu {
  position: absolute;
  padding:10px;
  width: 10%;
  z-index: 5;
}
#Board {
  position: absolute;
  height: 100%;
  width: 100%;
}
#info {
}
#info-hover {
  display:none;
}
#info:hover #info-hover {
  position: absolute;
  text-align: justify;
  height: auto;
  width: 80%;
  display:block;
  background: rgba(252, 252, 243, 0.9);
  padding: 10px;
}

#footer {
  position: absolute;
  margin: 0pt 0pt 0pt 0pt;
  font-size: 12px;
  bottom: 0pt;
}
